.Header {
    background-color: #000 !important;
    color: #fff;
}

.logo {
    font-size: 26px !important;
    width: auto;
    height: auto;
    font-family: "Comforter Brush", cursive !important;
    font-weight: 400 !important;
}

.active{
    font-weight: bold;
    background-color: #9013FE !important;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.login{
    background-color: #9013FE !important;
}